<main class="bg-light">
   <div class="container">
       <div class="text-center m-3">
           <h2>Leader Board</h2>
       </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Clan</th>
            <th scope="col">
              Honour
              <span class="sort-by-honour" (click)="sortByHonour()">
                <img src="https://img.icons8.com/material/24/000000/sort-down--v2.png"/>
              </span>

            </th>
            <th scope="col">
              Overal Rank
              <span class="sort-by-rank" (click)="sortByRank()">
                <img src="https://img.icons8.com/material/24/000000/sort-down--v2.png"/>
              </span>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.clan}}</td>
            <td>{{ user.honour }}</td>
            <td>{{ user.overall_rank}}</td>
            <td>
                <a class="btn btn-success" [routerLink]="['/user-details', user.username]">Details</a>
            </td>
          </tr>
        </tbody>
      </table>
   </div>
</main>