<main class="mt-5">
    <div class="text-center">
        <h2>Add User</h2>
    </div>

    <div class="container w-50 mt-4">
        <div class="card form-card">
            <div class="card-body bg-grey">
                <form>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">
                            <img src="https://img.icons8.com/material-sharp/24/000000/user-male-circle.png"/>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                      <div class="text-center">
                          <button class="btn btn-success mt-4">Submit</button>
                      </div>
                </form>
            </div>
          </div>
    </div>
    
</main>