<!-- <app-view-users></app-view-users> -->
<!-- <router-outlet></router-outlet> -->

<!-- <main>
    <div class="container">

    </div>
</main> -->

<header>
    <nav class="navbar navbar-light bg-light">
    <div class="container">
        
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" aria-current="page" href="#" routerLink="/leaderboard">LeaderBoard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" href="#" routerLink="/add-user">Add User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled " routerLinkActive="active">Disabled</a>
                </li>
              </ul>
        
    </div>
</nav>
</header>

<router-outlet></router-outlet>